

html,body{
	margin: 0;
	height:100%;
}
.logo{
	margin-left:10px;
	margin-top:10px;
}

header{
	height:160px;
	background-color:#a7dbd8;
}

nav{
	float:left;
	width:145px;
	background-image: url("strip1.png");
	background-repeat:repeat-y;
	min-height:100%;
}
#main{
	background-color:#e0e4cc;
	min-height:100%;
	margin-left:145px;
}

nav ul{
	margin:0px;
	padding:0px;
}

nav ul li{
	margin-top:22px;
	width:136px;
	height:30px;
	background-color:#b8c08e;
}

nav ul li a{
	position:relative;
	bottom:-6px;
	padding-left:10px;
	font-family: 'Press Start 2P';
	text-decoration:none;
	font-size:14px;
	color:#797c65;
}

#box1{
	z-index:2;
	position:relative;
	top:20px;
	margin-left:26px;
	background-color:#b8c08e;
	width:832px;
	min-height:452px;
}
#box2{
	position:absolute;
	top:190px;
	z-index:1;
	margin-left:34px;
	background-color:#797c65;
	width:832px;
	min-height:452px;
}